html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#canvas-wrap { 
    position:relative 
}

#overlay { 
    position:absolute; 
}

/* The following section is taken from Ian Lunn's Hover CSS: https://github.com/IanLunn/Hover */
/* Shrink */
.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.shrink:hover, .shrink:focus, .shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  border: 4px solid #333;
}
/* End borrowing from hover.css */

.circle-div {
    font-family: Helvetica, Arial, san-serif;
    color: white;
    position: fixed;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    border: 2px solid #333;
    display: none;
}

/* For images -- if you have a portrait image, use this class. */
.landscape-div {
    background-size: auto 100%;
}

.portrait-div {
    background-size: 100% auto;
}

.github-div {
    background-image: url('/static/img/octocat-border.jpg');
    background-color: white;
    background-size: 100%;
}

.fsm-div {
    background-image: url('/static/img/fsm.png');
    background-color: white;
    background-size: 100%;
}

.rob-aleta-div {
    background-image: url('/static/img/aleta-n-rob.jpg');
    background-color: white;
    background-size: 100%;
}

.musicbrainz-div {
    background-image: url('/static/img/musicbrainz.png');
    background-color: white;
    background-size: 100%;
}

.hair-div {
    background-image: url('/static/img/flickr.gif');
    background-color: white;
}

.flickr-div {
    background-image: url('/static/img/flickr.gif');
    background-color: white;
}

.twitter-div {
    background-image: url('/static/img/twitter.png');
    background-color: white;
    background-size: 100%;
    color: #333;
}

#tweet {
    padding: 3em;
    text-align: left;
}

#tweet-header {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
